 <!-- <h1>Hello</h1> -->
<!-- <p>{{myUser1.login}}</p> -->
<div   id="myConatiner">
<div class="move" id="move1">
<p id="myUsername">User name : {{myUser1.login}}</p>
<p id="myUsername">Created At : {{myUser1.created_at}}</p>
<p id="myUsername">Total Repositories : {{myUser1.public_repos}}</p>
</div>
<img src="{{myUser1.avatar_url}}"  width="190" height="190"> 

<div class="move" id="move2">
    <p *ngFor= 'let xyz of myrepos' id="para2">
        Project name : {{xyz.full_namelo}} 
        <br>
        Project description : {{xyz.description}} 
        <br>
        Created At : {{xyz.created_at}}
        <br>
    </p>
</div>
<a href="" (click)="goToForm()">Back to form</a>
</div>