 <!-- <h1>Hello</h1> -->
<!-- <p>{{myUser1.login}}</p> -->
<div  id="myConatiner">
    <div></div>
<div class="move" id="move1">
<p id="myUsername">User name : {{myUser1.login}}</p>
<img src="{{myUser1.avatar_url}}"  width="150" height="150"> 
<p>Created At : {{myUser1.created_at}}</p>
<p>Total Repositories : {{myUser1.public_repos}}</p>
</div>

<div class="move">
    <p *ngFor= 'let xyz of myrepos'>
        Project name : {{xyz.full_namelo}} 
        <br>
        Project description : {{xyz.description}} 
        <br>
        Created At : {{xyz.created_at}}
        <br>
    </p>
</div>
<a href="" (click)="goToForm()">Back to form</a>
</div>